* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../imgs/hero-bg.svg');
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}